<div class="card" style="text-align: center;">
  <div class="card-header">
    <h5 class="card-title"><%= link_to('Welcome', root_path) %></h5>
    <span style="float: right;">
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary') %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">Subscribe using Stripe.</p>
    <%= render 'form' %>
    <p class="card-text">$9 per month, cancel any time</p>
  </div>
</div>